*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(to right,rgba(4, 211, 248, 0.76),rgb(26, 165, 207));
}
.container{
    margin: 50px auto;
    width: 45%;

}
.container h1{
    color: white;
    font-size: 50px;
    margin: 50px;
    text-align: center;
}
#newtask{
    position: relative;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    margin-bottom: 40px;
}
#newtask input{
    width: 60%;
    height: 45px;
    font-size: 20px;
    line-height: 10px;
    border: 0px ;
    padding: 12px;
    color: black;
    position: relative;
    border-radius: 5px;
    outline: none;
    
}


#newtask button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-size: 25px;
    background-color: blue;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
}
#tasks{
    background-color: white;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
    width: 100%;
    position: relative;
}
.task{
    background-color: white;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(128, 128, 128, 0.3);
    cursor: pointer;
}
.task span{
    font-size: 20px;
    color: grey;
}
.task button{
    background-color:white;
    color: red;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}
